body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: crimson;
    color: white;
}

#title{
    text-align: center;
    padding: 30px;
    margin: 0%;
    width: 100%;
}
#image{
    max-width: 100%;
    margin: 0;
    position: relative;
}
#img-caption{
    font-size: 14px;
    color: darkgoldenrod;
}
#img-div{
    position: center;
    text-align: center;
    background-color: white;
    padding: 10px;
}
img{
    display: block;
    height: auto;
}
footer{
    text-align: center;
    margin: 50px;
}
#information{
    text-align: center;
    padding: 50px;
}
ul{
    display: block;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    padding-inline-start: 40px;
}
#timeline li{
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 30px;
}
i{
    text-align: center;
    max-width: 550px;
}